<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Artist: <%= artist %></p>
<p>Amount of Listeners: <%= listeners %></p>
<p>Total Plays: <%= playcount %></p>
<p>Bio: <%= bio %></p>

</body>
</html>
